<div class="row">





<div class="row">


<div class="col-md-2">
<h1 id="naslov"> <b> 1. dan </b> </h1>
    </div>

    <div class="col-md-2">
    <img id="bascarsija" src="/Bascarsija.jpg" />
    </div>

    <div class="col-md-2">
    <img id="zutatabija" src="/Zuta tabija.jpg" />
    </div>

    <div class="col-md-2">
    <img id="bijelatabija" src="/Bijela Tabija.jpg" />
    </div>

    <div class="col-md-2">
    <img id="turbe" src="/Turbe sedam braće.jpg" />
    </div>

    



    <div class="row">


<div class="col-md-2">
<h1 id="naslov"> <b> 2. dan </b> </h1>
    </div>

    <div class="col-md-2">
    <img id="skakavac" src="/Skakavac.jpg" />
    </div>

    <div class="col-md-2">
    <img id="ferhadija" src="/Ferhadija.jpg" />
    </div>

    <div class="col-md-2">
    <img id="zicara" src="/Trebevic zicara.jpg" />
    </div>

    <div class="col-md-2">
    <img id="trebevic" src="/Trebevic.jpg" />
    </div>

    


    <div class="row">


<div class="col-md-2">
<h1 id="naslov"> <b> 3. dan </b> </h1>
    </div>

    <div class="col-md-2">
    <img id="igman" src="/Igman.jpg" />
    </div>

    <div class="col-md-2">
    <img id="bjelasnica" src="/Bjelasnica.jpg" />
    </div>

    <div class="row">


<div class="col-md-2">
<h1 id="naslov"> <b> 4. dan </b> </h1>
    </div>

    <div class="col-md-2">
    <img id="tunelspasa" src="/Tunel spasa.jpg" />
    </div>

    <div class="col-md-2">
    <img id="vrelobosne" src="/Vrelo Bosne.jpg" />
    </div>

    <div class="col-md-2">
    <img id="muzej3" src="/War childhood Muzej.jpg" />
    </div>


    <div class="row">


<div class="col-md-2">
<h1 id="naslov"> <b> 5. dan </b> </h1>
    </div>

    <div class="col-md-2">
    <img id="muzej" src="/Muzej Sa.jpg" />
    </div>

    <div class="col-md-2">
    <img id="vijecnica" src="/vijecnica.jpg" />
    </div>

    <div class="col-md-2">
    <img id="muzej2" src="/Muzej 1918" />
    </div>

    <div class="col-md-2">
    <img id="turbe" src="/Turbe sedam braće.jpg" />
    </div>

    <div class="col-md-2">
    <img id="muzej" src="/Muzej Sa.jpg" />
    </div>
    






























<style>

#naslov{
    font-size: 250px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 200px;
    height: 250px;
    
}
#logo1{
    width: 200px;
    height: 250px;
}




body {
    background-color: lightblue;  
}


</style>

   