


<div class="user_login">
    <p align_"middle">

    <label for="psw"><b>Korisničko ime</b></label>
    <input type="text" placeholder"" name="psw" required>

    <label for="psw"><b>Lozinka</b></label>
    <input type="password" placeholder"" name="psw" required>
    <button type"submit">Prijava</button>
    <label>
    <input type="checkbox" cheked="checked" name="remember"Zapamti me 
    </label>
    
</div>

<br/><br/></br></br>
<div class="row">
    <div= class="col-md-12">

    <img id="velika-slika" src="/3.jpg" />

<div/>
</div>


<style>

.user_login{
    margin-top: -120px;
}


</style>
















