
<div class="row">

    <div class="col-md-10">

        <h1 id="naslov"> <b> visitSa </b> </h1>

    </div>

    <div class="col-md-2">
        <img id="logo" src="/Logo.jpg" />
    </div>

</div>

<p> Mjesto za navbar </p>



<div class="row">

    <div class="col-md-12">

     <img id="velika-slika" src="/3.jpg" />

    </div>

</div>






















<style>

#naslov{
    font-size: 335px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 300px;
    height: auto;
    
}
#velika-slika{
    width: 1120px;
    height: 500px;
}
body {
    background-color:LightGray;  
}


</style>