<div class="row">





<p> Mjesto za navbar </p>

<div class="row">

<div= class="col-md-12">

<img id="velika-slika" src="/3.jpg" />

<div/>


</div>






















<style>

#naslov{
    font-size: 250px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 200px;
    height: 250px;
    
}
#logo1{
    width: 200px;
    height: 250px;
}

#velika-slika{
    width: 1120px;
    height: 500px;
}


body {
    background-color: lightblue;  
}


</style>