<div class="row">

  
<div= class="col-md-12">

<h1>Vijećnica </h1>

<img id="vijecnica" src="/vijecnica.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Vječna vatra </h1>

<img id="vjecna_vatra" src="/Vjecna vatra.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Tunel spasa </h1>

<img id="tunel_spasa" src="/Tunel spasa.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Turbe sedam braće </h1>

<img id="turbe_sedam_braće" src="/Turbe sedam braće.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Sebilj </h1>

<img id="sebilj" src="/Sebilj.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Morića Han </h1>

<img id="moricahan" src="/Morica Han.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Muzej Sarajeva </h1>

<img id="muzejsa" src="/Muzej Sa.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>War childhood Muzej </h1>

<img id="War_childhood_Muzej" src="/War childhood Muzej.jpg" />

<div/>
</div>


























<style>

#naslov{
    font-size: 250px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 200px;
    height: 250px;
    
}
#logo1{
    width: 200px;
    height: 250px;
}

#vijecnica{
    width: 400px;
    heihgt: 400px;
}

#vjecna_vatra{
    width: 400px;
    heihgt: 400px;
}
#tunel_spasa{
    width: 400px;
    heihgt: 400px;
}
#turbe_sedam_braće{
    width: 400px;
    heihgt: 400px;
}
#sebilj{
    width: 400px;
    heihgt: 400px;
}
#moricahan{
    width: 400px;
    heihgt: 400px;
}
#muzejsa{
    width: 400px;
    heihgt: 400px;
}
#War_childhood_Muzej{
    width: 400px;
    heihgt: 400px;
}






body {
    background-color: lightblue;  
}


</style>