<div class="row">

  
<div= class="col-md-12">

<h1>Bjelašnica </h1>

<img id="bjelasnica" src="/bjelasnica.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Igman </h1>

<img id="Igman" src="/Igman.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Trebević </h1>

<img id="trebevic" src="/Trebevic.jpg" />

<div/>
</div>

























<style>

#naslov{
    font-size: 250px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 200px;
    height: 250px;
    
}
#logo1{
    width: 200px;
    height: 250px;
}
#bjelasnica{
    width: 500px;
    height: 500px;
}
#Igman{
    width: 500px;
    height: 500px;
}
#trebevic{
    width: 500px;
    height: 500px;
}




body {
    background-color: lightblue;  
}


</style>