<div class="row">
  
<div= class="col-md-12">

<h1>Bijela tabija </h1>

<img id="bijelatabija" src="/Bijela Tabija.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Žuta tabija </h1>

<img id="zutatabija" src="/zuta tabija.jpg" />

<div/>
</div>





























<style>

#naslov{
    font-size: 250px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 200px;
    height: 250px;
    
}
#logo1{
    width: 200px;
    height: 250px;
}
#bijelatabija{
    width: 700px;
    height: 500px;
}
#zutatabija{
    width: 700px;
    height: 500px;
}




body {
    background-color: lightblue;  
}


</style>