<div class="row">

  
<div= class="col-md-12">

<h1>Begova džamija </h1>

<img id="begova_dzamija" src="/Begova dzamija.jpg" />

<div/>
</div>


<div class="row">
  
<div= class="col-md-12">

<h1>Jevrejsko groblje</h1>

<img id="jevrejsko_groblje" src="/Jevrjesko groblje.jpg" />

<div/>
</div>


<div class="row">
  
<div= class="col-md-12">

<h1>Katedrala </h1>

<img id="katedrala" src="/Katedrala.jpg" />

<div/>
</div>

<div class="row">
  
<div= class="col-md-12">

<h1>Sinagoga </h1>

<img id="sinagoga" src="/Sinagoga.jpg" />

<div/>
</div>





















<style>

#naslov{
    font-size: 250px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 200px;
    height: 250px;
    
}
#logo1{
    width: 200px;
    height: 250px;
}
#begova_dzamija{
    width: 500px;
    height: 400px;
}
#jevrejsko_groblje{
    width: 500px;
    height: 400px;
}
#katedrala{
    width: 500px;
    height: 400px;
}
#sinagoga{
    width: 500px;
    height: 400px;
}




body {
    background-color: lightblue;  
}


</style>