<div class="row">


  
<div= class="col-md-12">

<h1>Pionirska dolina </h1>

<img id="pionirska_dolina" src="/Pionirska dolina.jpg" />

<div/>
</div>



























<style>

#naslov{
    font-size: 250px;
    font-family: Colonna MT;
    text-align:center;
}

#logo{
    width: 200px;
    height: 250px;
    
}
#logo1{
    width: 200px;
    height: 250px;
}
#pionirska_dolina{
    width: 700px;
    height: 500px;
}




body {
    background-color: lightblue;  
}


</style>